@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Inter:wght@400;500;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Inter:wght@400;500;900&family=Poppins&display=swap');
/* Font-Family 
   1.Predefiend
   2.Importing 
*/
/* #g1{
    font-family: Arial, Helvetica, sans-serif;
}
#g2{
    font-family:'Inter', sans-serif;;
}
#g3{
    font-family: 'Poppins', sans-serif;
} */


/* Font-Style */
/* #g4{
    font-style: italic;
}
#g5{
    font-style: oblique;
}
#g6{
    font-style: normal;
} */


/* Font-Weight */
/* #g7{
    font-weight: 100;
}
#g8{
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
} */


/* Font-Size */
/* #g9{
    font-size: 50px;
}
#g10{
    font-size: 80px;
} */











