/* Border-Properties */
/* #g1{
    border-width: 10px;
    border-style: solid;
    border-color: black;
}
#g2{
    border-left: 10px solid red ;
    border-right: 10px solid red ;
    border-bottom: 10px solid red ;
}
#g3{
    border-bottom-width: 5px;
    border-bottom-style: dotted;
    border-bottom-color: pink ;
}
#g4{
    border: 8px dashed yellow;
}
button{
    width: 80px;
    height: 50px;
    background-color: red;
    color: white;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    border: none;
    font-weight: 600;
}
button:hover{
    background-color: black;
} */


/* Width-Properties
   1.Absolute
   2. Relative
*/
/* #g5{
    width: 500px;
    background-color: red;
}
#g6{
    width: 132mm;
    background-color: green;
}
#g7{
    width: 13cm;
    background-color: blue;
}
#g8{
    width: 50%;
    height: 200px;
    background-color: yellow;  
}
#g9{
    width: 50%;
    height: 50px;
    background-color: white;  
}
#g10{
    width: 60vw;
    height: 100px;
    background-color: aqua;  
}
#g11{
    width: 60vw;
    height: 20vw;
    background-color: rgb(255, 0, 174);  
} */


/* Margin-Properies */
/* #g12{
    background-color: green;
    width: 200px;
    height: 200px;
    margin: 100px;
}
#g13{
    background-color: yellow;
    width: 200px;
    height: 200px;
    margin: 50px 100px;
}
#g14{
    background-color: red;
    height: 200px;
    width: 200px;
    margin: 10px 20px 30px;
}
#g15{
    background-color: blue;
    height: 200px;
    width: 200px;
    margin: 20px 40px 60px 80px;
}
#g16{
    background-color: palevioletred;
    width: 200px;
    height: 200px;
    margin-top: 50px;
    margin-bottom: 80px;
    margin-right: 20px;
    margin-left: 40px;
}
#g17{
    background-color: brown;
    width: 300px;
    height: 300px;
    margin-block: 100px;
    margin-inline: 100px;
} */


/* Padding-Properties */
/* #g18{
    background-color: tomato;
    width: 300px;
    height: 300px;  
    color: white; 
    padding: 120px;
    text-transform: uppercase;
}
#g19{
    background-color: yellow;
    color: black;
    height: 300px;
    width: 300px;
    padding: 120px;
    box-sizing: border-box;
    text-transform: uppercase;

}
#g20{
    background-color: black;
    color: white;
    height: 300px;
    width: 300px;
    padding:50px 100px;
    box-sizing: border-box;
}
#g21{
    background-color: aqua;
    color: red;
    height: 300px;
    width: 300px;
    padding: 20px 40px 60px;
    box-sizing: border-box;
}
#g21{
    background-color: green;
    color: yellow;
    height: 300px;
    width: 300px;
    padding: 20px 40px 60px 80px;
    box-sizing: border-box;
}
#g22{
    background-color: chocolate;
    color: black;
    height: 300px;
    width: 300px;
    padding-top:100px ;
    padding-bottom: 100px;
    padding-left:100px;
    padding-right: 100px;
    box-sizing: border-box;
} */










