#g1{
    width: 300px;
    height: 300px;
    background-color: red;
}
#g2{
    width: 500px;
    height: 300px;
    background-image: url("https://images.unsplash.com/photo-1444212477490-ca407925329e?auto=format&fit=crop&q=60&w=500&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fGRvZ3N8ZW58MHx8MHx8fDA%3D");
    background-size: 100px 100px;
    background-repeat: repeat-x;
    background-repeat: repeat-y;
}
#g3{
    width: 400px;
    height: 300px;
    background-image:url("https://images.unsplash.com/photo-1444212477490-ca407925329e?auto=format&fit=crop&q=60&w=500&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fGRvZ3N8ZW58MHx8MHx8fDA%3D");
    background-size: 100px 100px; 
    background-position:100px 100px ;
    background-repeat: no-repeat;
    border: 3px solid black;
}

