/********External Css********/
/* h1{
    background-color: yellow;
    color: white;
}
p{
    background-color: chocolate;
    color: white;
}
span{
    background-color: blueviolet;
    color: white;
}
button{
    background-color: black;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
} */

/*  Universal Selector */
/* *{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: red;
} */

/* Type-Selector */
/* h1{
    color: red;
    background-color: yellow;
}
p{
    color: aqua;
    background-color: black;
}
span{
    color: white;
    background-color: blue;
} */

/* Id-Selector */
/* #g1{
    color: red;
}
#g3{
    color: aqua;
    background-color: black;
}
#g6{
    color: yellow;
    background-color: brown;
} */

/* Class-Selector */
/* .green{
    background-color: grey;
    border: 10px solid green;
    padding: 10px 20px;
    border-radius: 5px;
}
.active{
    background-color: red;
}
.disable{
    background-color: yellow;
} */

/* Child Selector */
#g1>p{
    color: white;
    background-color: blue;
}
/* GrandChild Selector */
#g1>div>p{
    color: red;
    background-color: black;
}
/* Both Selectors */
#g2 p{
    color: brown;
    background-color: aqua;
}
#g3{
    background-color: black;
    color: white;
    padding: 7px 13px;
    border-radius: 5px;
    border: none;
}
#g3:hover{
    background-color: green;
}
#g3:active{
    background-color: yellow;
}
#g3:focus{
    background-color: violet;
}
/* first-child
   second-child
   nth-child(odd,even)
 */
#g4>li:nth-child(even){
    color: red;
}






















































































