*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
#box1>div>span{
    display: inline-block;
    margin-right: 150px;
    margin-top: 20px;
}
#box1{
    display: flex;
    justify-content: space-between;
}
#box1>div>span{
    margin-inline: 10px;
}

