/* Display-Properties */
/* .box{
    background-color: blue;
    width: 300px;
    height: 300px;
    margin: 10px;
    color: white;
    border: 2px solid black;
}
.box1{
    background-color: red;
    width: 300px;
    height: 300px;
    margin: 10px;
    color: white;
    border: 3px solid black;
}
.box2{
    background-color: black;
    border: 2px solid red;
    margin: 10px;
    width: 300px;
    height: 300px;
    color: white;
    display: inline;
}
.box3{
    background-color: yellow;
    border: 2px solid black;
    width: 300px;
    height: 300px;
    color: black;
    margin: 10px;
    display: block;
}
.box4{
    background-color: blueviolet;
    border: 2px solid black;
    color: white;
    width:300px;
    height:300px;
    margin:10px;
    display: inline-block;
}
.box5{
    background-color: chocolate;
    border: 2px solid black;
    width: 300px;
    height: 300px;
    color: white;
    margin: 10px;
    display: inline-block;
} */

/* Position Properties */
.box6{
    width: 200px;
    height: 200px;
    border: 2px solid red;
    background-color: blue;
    margin: 10px;
    position: static;
}
#g1{
    background-color: black;
    position: relative;
    top: 100px;
    left: 100px;
}
.box7{
    background-color: brown;
    width: 200px;
    height: 200px;
    border: 2px solid black;
    margin: 10px;
    position: static;
}
#g2{
    background-color: violet;
    margin-top: 100px;
    margin-left: 100px;
}
.box8{
    background-color: aqua;
    border: 2px solid black;
    width: 200px;
    height: 200px;
    margin: 10px;
    position: fixed;
    top: 10px;
    right: 10px;
}
.what{
    background-color: #45C253;
    width: 50px;
    height: 50px;
    border-radius: 30px;
    text-align: center;
    color: white;
     border: 5px solid rgba(245, 245, 245, 0.937);
     box-sizing: border-box;
     padding-top:10px ;
     position: fixed;
     right: 10px;
     bottom: 10px;
}
.box9{
    background-color: #45C253;
    width: 200px;
    height: 200px;
    border: 3px dashed black;
    margin-bottom: 20px;
    position: sticky; 
    top: 0px;
    left: 0px;   
}


